<nav>
    <div class="container">
        <div class="row">
            <div class="logo">
                <a href="/">LOGO</a>
            </div>
            <div class="menu">
                <ul>
                    <li class="menu_items"><a href="/">All</a></li>
                    <li class="menu_item"><a href="/people/peoples/1">1</a></li>
                    <li class="menu_item"><a href="/people/peoples/2">2</a></li>
                    <li class="menu_item"><a href="/people/peoples/3">3</a></li>
                    <li class="menu_item"><a href="/people/peoples/4">4</a></li>
                    <li class="menu_item"><a href="/people/peoples/5">5</a></li>
                    <li class="menu_item"><a href="/people/peoples/6">6</a></li>
                    <li class="menu_item"><a href="/people/peoples/7">7</a></li>
                    <li class="menu_item"><a href="/people/peoples/8">8</a></li>
                    <li class="menu_item"><a href="/people/add">+</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>