<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="icon" href="https://www.pngall.com/wp-content/uploads/2/Windows-Logo-PNG-Clipart.png">
    <title>Student</title>
</head>
<body>
    {{> nav}}
    <div class="body">
        {{{body}}}
    </div>

    <script src="/script/script.js"></script>
    
</body>
</html>