<div class="container">
    
    <form action="/people/add" method="post">
    <h2>Add people</h2>
    <input type="text" name="name" placeholder="Name" required>
    <input type="text" name="surname" placeholder="Surname" required>
    <input type="number" name="number" placeholder="Number" required>
    <input type="number" name="group" placeholder="Group" required>
    <input type="number" name="month" placeholder="Month" required>
    <input type="number" name="score" placeholder="Score" required>
    <input type="submit">
    <div class="block-yellow"></div>
    <div class="block-red"></div>
    </form>
</div>